@using Microsoft.AspNetCore.Identity
@model social_net.Models.PhotoComment

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="card shadow-sm p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi @(Model.IsAccepted ? "bi-chat-left-text" : "bi-hourglass-split") text-muted me-2"></i>

            <b>
                <a asp-controller="Profile" asp-action="Index" asp-route-profileUserId="@Model.User.Id" class="text-decoration-none text-dark">
                    @Model.User.FirstName @Model.User.LastName
                </a>
            </b>

            <span class="text-muted ms-2">@Model.AddedAt.ToString("• MMMM dd, yyyy, HH:mm")</span>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            var currentUser = await UserManager.GetUserAsync(User);

            <div class="d-flex gap-2">
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Photo" asp-action="DeleteCommentAdmin" asp-route-photoId="@Model.PhotoId" asp-route-commentId="@Model.Id">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                } else if (Model.User == currentUser)
                {
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Photo" asp-action="DeleteOwnComment" asp-route-photoId="@Model.PhotoId" asp-route-commentId="@Model.Id">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                }
            </div>
        }
    </div>

    <p class="mt-2 mb-0 text-dark">@Model.Text</p>
</div>