@model IEnumerable<IMessage>

<div class="post-container">
@foreach (var message in Model)
{
	<p>
	<b>
		<a asp-controller="Profile" asp-action="Index" asp-route-profileUserId="@message.Sender.Id">
		@message.Sender.FirstName @message.Sender.LastName</a>
	</b> 
		<span>@message.SentAt.ToString("• MMMM dd, yyyy, HH:mm")</span>: @message.Content
	</p>
	<hr />
}
</div>