@model IEnumerable<IMessage>

@foreach (var message in Model)
{
    <article>
        <b><a asp-controller="Profile" asp-action="Index" asp-route-profileUserId="@message.Sender.Id">@message.Sender.FirstName @message.Sender.LastName</a></b> @@ @message.SentAt: @message.Content
    </article>
    <hr />
}
