@using Microsoft.AspNetCore.Identity
@model social_net.Models.ViewPostModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	var returnUrl = Context.Request.Path + Context.Request.QueryString;
	var firstPhoto = true;
}

<div class="post-container">
	@if (Model.Type == "Text")
	{
		<div>
		<span class="h5"><a asp-controller="Profile" asp-action="Index" asp-route-profileUserId="@Model.TextPost.User.Id">@Model.TextPost.User.FirstName @Model.TextPost.User.LastName</a></span>
		<span>@Model.PostedAt.ToString("• MMMM dd, yyyy, HH:mm")</span>

		<p class="text-dark mt-3">@Model.TextPost.Text</p>
		</div>

		@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
		{
			<a class="btn btn-sm btn-outline-danger" asp-controller="Profile" asp-action="DeletePostAdmin" asp-route-profileUserId="@Model.TextPost.User.Id" asp-route-textPostId="@Model.TextPost.Id" asp-route-returnUrl="@returnUrl">Delete Post</a>
		}
		else if (SignInManager.IsSignedIn(User))
		{
			var currentUser = await UserManager.GetUserAsync(User);
			if (currentUser == Model.TextPost.User)
			{
				<a class="btn btn-sm btn-outline-danger" asp-controller="Profile" asp-action="DeleteOwnPost" asp-route-profileUserId="@Model.TextPost.User.Id" asp-route-textPostId="@Model.TextPost.Id" asp-route-returnUrl="@returnUrl"><i class="bi bi-trash3-fill"></i></a>
			}
		}
	}
	else
	{
		<span class="h5"><a asp-controller="Profile" asp-action="Index" asp-route-profileUserId="@Model.PhotoAlbum.User.Id">@Model.PhotoAlbum.User.FirstName @Model.PhotoAlbum.User.LastName</a></span>
		<span>@Model.PostedAt.ToString("• MMMM dd, yyyy, HH:mm")</span>

		var carouselId = Model.PhotoAlbum.Id;

		<div id="carouselControls-@carouselId" class="carousel carousel-light slide mt-3" data-bs-ride="carousel">
			<div class="carousel-indicators">
				@{
					var photoNumber = 0;
					foreach (var photo in Model.PhotoAlbum.Photos)
					{
						if (photoNumber == 0)
						{
							<button type="button" data-bs-target="carouselControls-@carouselId" data-bs-slide-to="@photoNumber" class="active" aria-current="true" aria-label="Photo @(photoNumber + 1)"></button>

						} else
						{
							<button type="button" data-bs-target="carouselControls-@carouselId" data-bs-slide-to="@photoNumber" aria-label="Photo @(photoNumber + 1)"></button>

						}
						photoNumber++;
					}
				}
			</div>	
			<div class="carousel-inner">

				@foreach (var photo in Model.PhotoAlbum.Photos)
				{
					if (firstPhoto)
					{
						<div class="carousel-item active">
							 <a asp-controller="Photo" asp-action="Index" asp-route-photoId="@photo.Id"> 
								<img class="d-block w-100" src="@photo.ImagePath" alt="Photo">
								 </a> 
						</div>
						firstPhoto = false;
					} else
					{
						<div class="carousel-item">
							<a asp-controller="Photo" asp-action="Index" asp-route-photoId="@photo.Id"> 
								<img class="d-block w-100" src="@photo.ImagePath" alt="Photo">
								 </a> 
						</div>
					}


					/*
					@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
					{
						<a class="btn btn-primary" asp-controller="Photo" asp-action="DeletePhotoAdmin" asp-route-profileUserId="@Model.PhotoAlbum.User.Id" asp-route-photoId="@photo.Id" asp-route-returnUrl="@returnUrl"><i class="bi bi-trash3-fill"></i></a>
					}
					else if (SignInManager.IsSignedIn(User))
					{
					var currentUser = await UserManager.GetUserAsync(User);
					if (currentUser == Model.PhotoAlbum.User)
					{
							<a class="btn btn-primary" asp-controller="Photo" asp-action="DeleteOwnPhoto" asp-route-profileUserId="@Model.PhotoAlbum.User.Id" asp-route-photoId="@photo.Id" asp-route-returnUrl="@returnUrl"><i class="bi bi-trash3-fill"></i></a>
					}
					}
					*/
			@* <br /> *@
				}
			</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls-@carouselId" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselControls-@carouselId" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
		</div>
		firstPhoto = true;
		@* <br /> *@
	}
</div>
