@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model social_net.Models.Photo
@{
}

@inject UserManager<User> UserManager
@inject social_net.Data.AppDbContext _appDbContext;


@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<h1>Photo posted by @Model.Album.User.FirstName @Model.Album.User.LastName</h1>
<img src="@Model.ImagePath" alt="Photo" style="margin-bottom: 25px" />

@foreach (var comment in Model.Comments)
{
    <article>
        <b>@comment.User.FirstName @comment.User.LastName </b> @@ @comment.AddedAt: @comment.Text
    </article>
}


<form asp-action="AddComment" asp-route-photoId="@Model.Id" asp-route-currentUserId="@currentUser.Id" method="post">
    <div id="bottom" class="form-floating mb-3">
        <input class="form-control" name="commentContent" autocomplete="off" />
        <label>Press Enter to add a new comment</label>
    </div>
</form>
